In [1]:
from twarc import Twarc
import json as json

import pandas as pd
import tqdm

In [2]:
with open("twitter_credentials.txt") as fp:
    credentials = tuple(map(str.strip, fp.readlines()))

In [3]:
twarc_obj = Twarc(*credentials)

In [4]:
df = pd.read_csv("data/tid_uid.txt", sep="\t")
df.head()

         u_id                 tid  u_statuses
0   492532196  511885958992904192     6510541
1  2169277098  511448287573213184     4014482
2  1338951085  513229038035673088     3377886
3   279118291  623859753568051200     3307959
4    59804598  513170741408169985     2762552

In [5]:
with open("./data/user_timelines.json", "w+") as fp:
    total = 0
    pbar = tqdm.tqdm(df.values[:3])
    for uid, tid, u_statuses in pbar:
        found = 0
        pbar.set_description("User {}".format(uid))
        for tweet_json in twarc_obj.timeline(user_id="{}".format(uid)):
            found += 1
            if found > 190:
                break
            total += 1
            print(json.dumps(tweet_json), file=fp)
    pbar.close()
print("Collected {} tweets.".format(total))

User 1338951085: 100%|██████████| 3/3 [00:00<00:00,  3.57it/s]

Collected 570 tweets.